*{
    padding: 0;
    margin: 0;
}

body{
    background-color:  rgba(255, 255, 255, 1);
}

/* Multiple use */
#width_style{
    max-width: 1600px;
    margin: 0 auto;
}

.btn{
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

/* Nav section */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav_ul{
    display: flex;
    gap: 32px;
    list-style: none;
    size: 16px;
    color:rgba(0, 0, 0, 1);
}
