*{
    padding: 0;
    margin: 0;
}

body{
    background-color:  rgba(255, 255, 255, 1);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* box-sizing: border-box; */
}


/* Multiple use */
#width_style{
    max-width: 1600px;
    margin: 0 auto;
}

.btn{
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(135deg, #c0bddf, #8681e2);
    /* transform: translateY(-3px); */
    box-shadow: 0 10px 10px rgba(149, 147, 189, 0.35);
}
/* Nav section */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav_ul{
    display: flex;
    gap: 32px;
    list-style: none;
    size: 16px;
    color:rgba(0, 0, 0, 1);
}

.nav_ul li:hover{
    color: #656569;
    cursor: pointer;
    transform: translateX(1px );
}

/* Hero section */
.hero_section{
    background:url(./assets/hero-bg.png);
    padding: 115px 120px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
    background-size: cover;
}

.early-access {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;
  border-radius: 999px;
  background: #ffffff;
  border: 1px solid #e5e7eb;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #30b868;
  box-shadow: inset 0 0 0 4px rgba(31, 30, 30, 0.6);
}

.early-access:hover{
    background-color: #a2a2a8;
}

.hero_h1{
    font-size: 72px;
    padding: 16px 0px;
}

.hero_p{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 32px;
    line-height: 35px;
    color: rgba(255, 255, 255, 1);
}

.btn_2{
    background:none;
    border: 1px solid rgb(253, 253, 253);
    margin-left: 16px;
}


/* Notes section */
.notes_p{
    color: rgba(98, 115, 130, 1);
}

.notes_section{
    text-align: center;
    padding: 120px;
}

.notes_h1{
    font-size: 48px;
    margin: 16px 0px;
}


.notes_card_container{
    display: flex;
    gap: 24px;
    margin-top: 44px;
    text-align: center;
}

.notes_card{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 69px 24px;
}

.notes_card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}

.notes_card img{
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 6px;
}
h3{
    color: rgba(0, 25, 49, 1);
    font-size: 24px;
    margin: 16px 0px;
}

.notes_card p{
    font-size: 16px;
}

/* Brain section */
.brain_section{
    display: flex;
    gap: 60px;
    align-items: center;
    padding-bottom: 120px;
}

.cheak_box{
    list-style: none;
}

.brain_p{
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    margin-bottom: 40px;
}

.cheak_box li{
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}   


/* Chalange section */

.chalange_container{
    background-color:  rgba(247, 246, 242, 1);
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
}

.chalange_container p{
    color: #627382;
}

/* Footer section */
footer{
    background-color: rgba(0, 25, 49, 1);
    padding: 120px 120px 30px;
    display: flex;
    flex-direction: column;
    /* gap: 80px; */
    margin-top: 120px;
}

.footer_icon{
    display: flex;
    justify-content: space-between;
}

.social{
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: rgba(255, 255, 255, 1);
}

.social p{
    font-size: 20px;
}

.socila_ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.social .fa-brands:hover{
    color: #a1a1a7;

}

.footer_hr{
   opacity: 0.2;
   margin: 78px 0px 36px 0px;
}

.coppyright_text{
    text-align: center;
    color: rgba(250, 250, 250, 1);
    font-size: 16px;
}


