*{
    padding: 0;
    margin: 0;
}

body{
    background-color:  rgba(255, 255, 255, 1);
}

/* Multiple use */
#width_style{
    max-width: 1600px;
    margin: 0 auto;
}

.btn{
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

/* Nav section */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav_ul{
    display: flex;
    gap: 32px;
    list-style: none;
    size: 16px;
    color:rgba(0, 0, 0, 1);
}



/* Hero section */
.hero_section{
    background:url(./assets/hero-bg.png);
    padding: 115px 120px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
    background-size: cover;
}

.early-access {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;
  border-radius: 999px;
  background: #ffffff;
  border: 1px solid #e5e7eb;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #30b868;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.6);
}

.hero_h1{
    font-size: 72px;
    padding: 16px 0px;
}

.hero_p{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 32px;
}

.btn_2{
    background:none;
    border: 1px solid rgba(255, 255, 255, 1);
}
